#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  overflow: hidden !important;
  margin: 0 !important;
}


/* custo for Agora */
.agora_video, .agora_video * {
  overflow: hidden !important;
  height: 100vh;
  width: 98vw;
  min-width: 95%;
  margin: 0 auto;
}